.contenttop {
    float: left;
    width: 100%;
    border-bottom: solid #455A79;
}

.contenttop h1 {
    margin: 10px 0px 10px 0px;
    color: #207010;
    line-height: 18pt;
    font-size: 18pt;
}

.contenttop p {
    padding : 10px 0px 10px 15px;
}

img.content {
    float: left;
    padding: 10px 10px 10px 0px;
}

.contentleft {
    float: left;
    width: 48%;
}

.contentleft h1 {
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 0px;
    color: #207010;
    font-size: 18pt;
    line-height: 18pt;
}

.contentleft p {
    padding : 0px 0px 10px 15px;
}

img.contentleft,
img.contentright {
    float: left;
    /*clip: rect(0px 50px 200px 0px);*/
    padding-right: 12px;
}

.contentright {
    float: left;
    width: 49%;
}

.contentright h1 {
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 0px;
    color: #207010;
    font-size: 18pt;
    line-height: 18pt;
}

.contentright p {
    padding : 0px 0px 10px 15px;
}

#contenttxt { 
    padding: 5px 12px 12px 12px;
    line-height: 12pt;
    margin : 10px 12px 12px 12px;
}

